{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block home_only %}
<div id="on-tour-wrapper">
    <img src="{{ STATIC_URL }}images/on_tour.png"><br/>
    <ul id="on-tour">
        {% for event in events %}
        <li>{{ event.start_date }}{% if event.end_date %} - {{ event.end_date }}{% endif %}: {{ event.title }}</li>
        {% empty %}
        <li>No event dates listed. Check back soon.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block content %}
<div id="home-coming-soon" class="grid17-17 row league-gothic gray-content">
<img src="{{ STATIC_URL }}images/halloween_bash.png"/>
</div>


<div id="home-bios-wrapper" class="grid17-17 row">
        <div class="bio block" id="chuck">
                <img class="mug" src="{{ STATIC_URL }}images/chuck_and_pearl.jpg"></li>
                <ul>
                    <li class="header"><img src="{{ STATIC_URL }}images/chuck_header.png"></li>
                    <li class="description">Chuck has been fixing motorcycles since the age of 7, when he realized he wouldn’t get beat up by the older kids if he repaired their scooters</li>
                </ul>
        </div>
        <div class="bio block" id="steve">
                <img class="mug" src="{{ STATIC_URL }}images/steve_and_hazel.jpg">
                <ul>
                    <li class="header"><img src="{{ STATIC_URL }}images/steve_header.png"></li>
                    <li class="description">Steve has toured the world playing rock music and ridden bikes since a teenager growing up in Florida.  Raised on a healthy diet of Black Flag and Triumphs...</li>
                </ul>
        </div>
        
                    
        
</div>
{% endblock %}
